<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>

	<link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/style1.css" />

</head>
<body>
	<div style="padding:12px;">
		<h3>Asp.Net Core MVC - @ViewBag.Title</h3>
		<div>
			@RenderBody()
		</div>
	</div>
</body>
</html>
