@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<hr />

<h4>
	Compare With MVC
</h4>
<ul>
	<li>
		<a href="BSMode/MessageBoard">MVC BSMode/MessageBoard</a>
	</li>
	<li>
		<a href="BlazorModeMessageBoard">Blazor Mode MessageBoard</a>
	</li>
	<li>
		<a href="BlazorPlusModeMessageBoard">BlazorPlus Mode MessageBoard</a>
	</li>
</ul>


<h4>
	Sample Captcha
</h4>
<ul>
	<li>
		<a href="BlazorVerificationCode">Blazor Implementation</a>
	</li>
	<li>
		<a href="BlazorPlusVerificationCode">BlazorPlus Implementation</a>
	</li>
</ul>
